<form  [formGroup]="reactiveForm" >
  <div>
    <label for="name"> Name: <br>
      <input
          type="text"
          formControlName="name"
          id="name"
          required
      >
    </label>
  </div>

  <div>
    <label>Email: <br>
      <input
        type="email"
        formControlName="email"
        id="email"
        email
      >
    </label>
  </div>
  <div formGroupName="passwords">
    <div>
      <label>Password: <br>
        <input
          type="password"
          formControlName="password"
          id="password"
        >
      </label>
    </div>

    <div>
      <label>Confirm password: <br>
        <input
          type="password"
          formControlName="confirmPassword"
          id="confirmPassword"
        >
      </label>
    </div>

  </div>
  <div>
    <label>Gender: <br>
      Male
      <input
        type="radio"
        formControlName="gender"
        value="male"
      >
      Female
      <input
        type="radio"
        formControlName="gender"
        value="Female"
      >
    </label> <br>
  </div>
    <div>
      <span>NODEJS</span>
      <input
        type="checkbox"
        formControlName="nodejs"
        value="NodeJS"
      >
      <span>JAVASCRIPT</span>
      <input
        type="checkbox"
        formControlName="javaScript"
        value="JavaScript"
      >
      <span>ANGULAR</span>
      <input
        type="checkbox"
        formControlName="angular"
        value="Angular"
      >
    </div>
  <div>
    <label>Position:
      <select formControlName="position">
        <option value="SENIOR" >SENIOR</option>
        <option value="MIDLE">MIDLE</option>
        <option value="JUNIOR">JUNIOR</option>
      </select>
    </label>
  </div>
  <div>
    <label>How many children do you have?
      <app-child-counter formControlName="childCounter"></app-child-counter>
    </label>
  </div>
<div [ngStyle]="{display:'flex', justifyContent:'center'}" >
  <button (click)="register()">Register</button>
  <button (click)="clearForm()">Clear Form</button>
  <button (click)="setValue()">Set Value</button>
</div>

</form>
